<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/"
      class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Автор</strong>
    <small>04.03.22</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda atque aut, consequatur, dicta dolor enim eos facilis fugiat neque placeat quae quia tenetur. Aliquid ducimus hic ipsam neque sit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda atque aut, consequatur, dicta dolor enim eos facilis fugiat neque placeat quae quia tenetur. Aliquid ducimus hic ipsam neque sit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda atque aut, consequatur, dicta dolor enim eos facilis fugiat neque placeat quae quia tenetur. Aliquid ducimus hic ipsam neque sit!</p>
  </div>
</div>
