<form class="card" [formGroup]="myForm" (ngSubmit)="submit">
  <h2>Войти в панель администратора</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>

  <div class="alert info" *ngIf=message>
    {{message}}
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: myForm.get('email')?.touched && myForm.get('email')?.invalid}"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="myForm.get('email')?.touched && myForm.get('email')?.invalid"
      class="validation">
      <small *ngIf="myForm.get('email')?.errors?.['required']">
        Введите email
      </small>
      <small *ngIf="myForm.get('email')?.errors?.['email']">
        Введите корректный email
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: myForm.get('password')?.touched && myForm.get('password')?.invalid}"
  >
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div
      class="validation"
      *ngIf="myForm.get('password')?.touched && myForm.get('password')?.invalid"
    >
      <small *ngIf="myForm.get('password')?.errors?.['required']">
        Введите пароль
      </small>
      <small *ngIf="myForm.get('password')?.errors?.['minlength']">
        Пароль должен быть не менее 6 символов.
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="myForm.invalid || submitted"
  >Войти
  </button>
</form>


